apiVersion: v1
kind: Service
metadata:
  name: routing-service
  labels:
    app: routing-service
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: routing-service